<div class="d-flex justify-content-center m-3">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="page">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="1" (change)="handleChange()"> Currency
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="false" (change)="handleChange()"> Length
    </label>
  </div>
</div>
<div class="container-sm">
  <router-outlet></router-outlet>
</div>