<div class="example-container">

    <form [formGroup]="convertForm" (submit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label>Enter Value</mat-label>
            <input matInput #input maxlength="10" formControlName="inputValue">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Select Currency</mat-label>
            <mat-select formControlName="fromCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency.type">
                  {{currency.type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="fill">
            <mat-label>Select Currency</mat-label>
            <mat-select formControlName="toCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency.type">
                    {{currency.type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      
        <button mat-raised-button color="primary" type="submit">Convert</button>

        {{ output }}

    </form>

</div>