<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">

      <div *ngIf='error' class="alert alert-warning small p-1" role="alert">
        {{error}}
      </div>

      <form>
        <div class="form-row">
          <div class="form-group col-md-5">
            <select class="form-control" name="selectCurrencyOne" [(ngModel)]="selectCurrencyOne" (change)="onCurrencyOneSelection()">
              <option *ngFor="let currency of currencies" [ngValue]="currency.type">{{currency.type}}</option>
            </select>
          </div>
          <div class="form-group col-md-7">
            <input type="number" class="form-control" name="inputCurrencyOne" [(ngModel)]="inputCurrencyOne" (input)="onCurrencyOneInput()">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="form-group col-md-5">
            <select class="form-control" name="selectCurrencyTwo" [(ngModel)]="selectCurrencyTwo" (change)="onCurrencyTwoSelection()">
              <option *ngFor="let currency of currencies" [ngValue]="currency.type" [selected]="currency.type == 'USD' ? true : null">{{currency.type}}</option>
            </select>
          </div>
          <div class="form-group col-md-7">
            <input type="number" class="form-control" name="inputCurrencyTwo" [(ngModel)]="inputCurrencyTwo" (input)="onCurrencyTwoInput()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>