<!--<div class="example-container">

    <div class="example-container">

        <form [formGroup]="convertForm">

            <mat-form-field appearance="fill">
                <mat-label>Input Value</mat-label>
                <input matInput #input maxlength="10" formControlName="inputValue" [(ngModel)]="inputFormValue" (input)="inputChange()">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Select Input Unit</mat-label>
                <mat-select formControlName="fromUnit" (selectionChange)="onInputSelection()">
                    <mat-option *ngFor="let length of lengths" [value]="length.unit">
                        {{ length.unit }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                  <mat-label>Output Value</mat-label>
                  <input matInput #input maxlength="10" formControlName="outputValue" [(ngModel)]="outputFormValue" (input)="outputChange()">
             </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Select Ouput Unit</mat-label>
                <mat-select formControlName="toUnit" (selectionChange)="onOutputSelection()">
                    <mat-option *ngFor="let length of lengths" [value]="length.unit">
                        {{ length.unit }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </form>

        <form class="example-form" [formGroup]="addForm" (submit)="submit()">

            <mat-form-field appearance="fill">
                <mat-label>Millimeter Eqeuvalence</mat-label>
                <input matInput #input maxlength="10" formControlName="mmValue">
            </mat-form-field>
          
            <mat-form-field appearance="fill">
                <mat-label>Unit Value</mat-label>
                <input matInput #input maxlength="10" formControlName="unitValue">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Add</button>

          </form>

  </div>-->