<!--<div class="example-container">

    <div class="example-container">

        <form [formGroup]="convertForm">

            <mat-form-field appearance="fill">
                <mat-label>Input Value</mat-label>
                <input matInput #input maxlength="10" formControlName="inputValue" [(ngModel)]="inputFormValue" (input)="inputChange()">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Select Input Unit</mat-label>
                <mat-select formControlName="fromUnit" (selectionChange)="onInputSelection()">
                    <mat-option *ngFor="let length of lengths" [value]="length.unit">
                        {{ length.unit }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                  <mat-label>Output Value</mat-label>
                  <input matInput #input maxlength="10" formControlName="outputValue" [(ngModel)]="outputFormValue" (input)="outputChange()">
             </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Select Ouput Unit</mat-label>
                <mat-select formControlName="toUnit" (selectionChange)="onOutputSelection()">
                    <mat-option *ngFor="let length of lengths" [value]="length.unit">
                        {{ length.unit }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </form>

        <form class="example-form" [formGroup]="addForm" (submit)="submit()">

            <mat-form-field appearance="fill">
                <mat-label>Millimeter Eqeuvalence</mat-label>
                <input matInput #input maxlength="10" formControlName="mmValue">
            </mat-form-field>
          
            <mat-form-field appearance="fill">
                <mat-label>Unit Value</mat-label>
                <input matInput #input maxlength="10" formControlName="unitValue">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Add</button>

          </form>

  </div>-->

  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <form>

          <div class="form-row">
            <div class="form-group col-md-5">
              <select id="unitInput" class="form-control" name="selectLengthOne" [(ngModel)]="selectLengthOne" (change)="onLengthOneSelection()">
                <option *ngFor="let length of lengths" [ngValue]="length.unit">{{length.unit}}</option>
              </select>
            </div>
            <div class="form-group col-md-7">
              <input type="number" class="form-control" name="inputLengthOne" [(ngModel)]="inputLengthOne" (input)="onLengthOneInput()">
            </div>
          </div>
    
          <div class="form-row mt-3">
            <div class="form-group col-md-5">
              <select id="unitOutput" class="form-control" name="selectLengthTwo" [(ngModel)]="selectLengthTwo" (change)="onLengthTwoSelection()">
                <option *ngFor="let length of lengths" [ngValue]="length.unit">{{length.unit}}</option>
              </select>
            </div>
            <div class="form-group col-md-7">
              <input type="number" class="form-control" name="inputLengthTwo" [(ngModel)]="inputLengthTwo" (input)="onLengthTwoInput()">
            </div>
          </div>
    
        </form>

        <form class="mt-3"  [formGroup]="addForm" (submit)="submit()">
            <div class="alert alert-primary small p-1" role="alert">
                This is a primary alert—check it out!
            </div>
            <div class="form-row mt-3">
                <div class="form-group col-md-8">
                    <input type="number" class="form-control" #input maxlength="10" formControlName="mmValue" placeholder="mm Value">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" #input maxlength="10" formControlName="unitValue" placeholder="Unit">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-outline-primary btn-block">Add Unit</button>
                </div>
            </div>
          </form>

      </div>
    </div>
  </div>